img {
  filter: drop-shadow(5px 5px 5px #222);
  width: 20vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.logo-container .config {
  width: 35px;
}

.logo-container button {
  padding: 10px;
}
