* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgb(121, 102, 250) 35%, rgb(201, 194, 253) 100%);
}

.wrong-color {
  border: 3px solid red;
}

.correct-color {
  border: 3px solid rgb(6, 240, 15);
}
